body
  background-color: black
  font-size: 14px
  line-height: 1.6
  font-family: "Futura PT Book", sans-serif
  color: white
  text-decoration: none
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
